<!--Footer-->
<footer class="footer page-footer font-small stylish-color-dark pt-4 mt-4">

  <div class="container text-center text-md-left">
  
    <!--Footer Links-->
    <div class="row">
      <!--First column-->
      <div class="col-md-4 mx-auto">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold text-dark">FAQ</h5>
        <hr>
        <ul class="list-unstyled">
          <li>
            <a class="text-muted nav-item" [routerLink]="['about']">About Me</a>
          </li>
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
        </ul>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-4 mx-auto">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold text-dark">MiddleWare</h5>
        <hr>
        <ul class="list-unstyled">
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-4 mx-auto">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold text-dark">Javacript</h5>
        <hr>
        <ul class="list-unstyled">
          <li>
            <a class="text-muted nav-item">Basic Javascript</a>
          </li>
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
          <li>
            <a class="text-muted nav-item">Lorem Ipsum</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

    </div>
    <!--/.Footer Links-->
  </div>
  <!--Copyright-->
  <div class="py-3 text-center">
    <small class="text-muted"> &copy; | <a class="text-muted"[routerLink]="['artists']">Artist Credits</a> </small>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
