<div class="container-fluid">
  <div class="row p-3">
      <div class="col-md-4">
          <div class="card shadow mb-3 p-1">
              <i class="fab fa-angular fa-5x text-center text-danger"></i>
            <div class="card-body">
              <p class="card-title text-center">Angular</p>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat, minima eius, molestias laborum quidem tenetur cupiditate assumenda sapiente voluptatum explicabo dolorum voluptatem, quas iusto quia facere ducimus excepturi. Vel?</p>
              <button class="btn btn-outline-danger" [routerLink]="['angular']">Review notes</button>
            </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card shadow mb-3 p-1">
              <i class="fab fa-react text-center fa-5x text-success"></i>
            <div class="card-body">
              <p class="card-title text-center">React.JS</p>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat, minima eius, molestias laborum quidem tenetur cupiditate assumenda sapiente voluptatum explicabo dolorum voluptatem, quas iusto quia facere ducimus excepturi. Vel?</p>
              <button class="btn btn-outline-success" [routerLink]="['react']">Review notes</button>
            </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card shadow mb-3 p-1">
              <i class="fab fa-node-js fa-5x text-center text-warning"></i>
            <div class="card-body">
              <p class="card-title text-center">Node.Js</p>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat, minima eius, molestias laborum quidem tenetur cupiditate assumenda sapiente voluptatum explicabo dolorum voluptatem, quas iusto quia facere ducimus excepturi. Vel?</p>
              <button class="btn btn-outline-warning" [routerLink]="['node']">Review notes</button>
            </div>
          </div>
      </div>

  </div>
  <div class="row p-3">
      <div class="col-md-4">
          <div class="card shadow mb-3 p-1">
              <i class="fas fa-database fa-5x text-center text-success"></i>
            <div class="card-body">
              <p class="card-title text-center">MongoDB</p>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat, minima eius, molestias laborum quidem tenetur cupiditate assumenda sapiente voluptatum explicabo dolorum voluptatem, quas iusto quia facere ducimus excepturi. Vel?</p>
              <button class="btn btn-outline-success">Review notes</button>
            </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card shadow mb-3 p-1">
              <h1 class="text-primary text-center">express</h1>
            <div class="card-body">
              <p class="card-title text-center">Express</p>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat, minima eius, molestias laborum quidem tenetur cupiditate assumenda sapiente voluptatum explicabo dolorum voluptatem, quas iusto quia facere ducimus excepturi. Vel?</p>
              <button class="btn btn-outline-primary">Review notes</button>
            </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card shadow mb-3 p-1">
              <i class="fab fa-github fa-5x text-center text-secondary"></i>
            <div class="card-body">
              <p class="card-title text-center">GitHub</p>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat, minima eius, molestias laborum quidem tenetur cupiditate assumenda sapiente voluptatum explicabo dolorum voluptatem, quas iusto quia facere ducimus excepturi. Vel?</p>
              <button class="btn btn-outline-secondary">Review notes</button>
            </div>
          </div>
        </div>
  </div>

</div>