
<div class="row m-3 p-3">
  <div class="col-md-3 mb-3">
    <app-angular-menu></app-angular-menu>
  </div>
  <div class="col-md-8">
    <h1 class="text-center">Welcome to Angular</h1>
    
    <!-- <img src ="../../../assets/images/angular/AngularBootstrap.png" class="img-thumbnail"> -->
    <div>
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X5YopWEpIEM" height="500px" width="100%"></iframe>
    </div>
    <p class="font-weight-bold">Angular Defined</p>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
    
    <button class="btn btn-danger float-right" routerLink="/angular/angularcli">next</button>
  </div>

</div>