
<div class="row m-3 p-3">
  <!-- <div class="col-lg-3 mb-3 d-none d-md-block ">
    <app-angular-menu></app-angular-menu>
  </div> -->
  <div class="col-md-12">
    <h1 class="text-center">Welcome to Angular</h1>
    <h2>1000 ft view of how Angular Works!</h2>
    <div>
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X5YopWEpIEM" height="500px" width="100%"></iframe>
    </div>
    <h2 class="font-weight-bold mt-2">Angular Defined</h2>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
    <h2>Angular and MVC</h2>
    <p>Based on the MVC model (Models - Views - Controllers), Angular represents the View. There are several different libraries and view engines that can be used for the view. A few examples are EJS(Embedded JavasScript), Vue.js, Handlebars, and React.Js, however, what makes Angular different is that is framework vs. a library (like React.js)</p>
    <p>As a framework there are pre-set rules that are predetermined by the builders of the framework.  In this case, google. There are benefits and negatives. The big benefit is structure but at the cost of freedom.</p>
    <h2>A quick beginners guide to Angular 7</h2>
    <div>
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5wtnKulcquA" height="500px" width="100%"></iframe>
    </div>
    <a href ="https://coursetro.com/posts/code/171/Angular-7-Tutorial---Learn-Angular-7-by-Example" target="_blank"><button class="btn btn-primary">Written Tutorial</button></a> 

    <h2 class="mt-3">Confused yet?</h2>
    <p>There are a lot of moving parts to undestanding Angular, from services, routing, directives and pipes, it can go down hill pretty fast; however, let's go and take one topic at a time. I've created different chapters that you can use as a quick reference. Let’s dive into building your first Angular App! </p>

    <button class="btn btn-danger float-right" routerLink="/angular/angularcli">next</button>
  </div>
</div>