
<div class="row m-3 p-3">
  <div class="col-lg-3 mb-3 d-none d-md-block ">
    <app-angular-menu></app-angular-menu>
  </div>
  <div class="col-md-8">
    <h1 class="text-center">Welcome to Angular</h1>
    <div>
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X5YopWEpIEM" height="500px" width="100%"></iframe>
    </div>
    <h2 class="font-weight-bold mt-2">Angular Defined</h2>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
    
    <h2>Angular and MVC</h2>
    <p>Based on the MVC model (Models - Views - Controllers), Angular represents the View. There are several different libraries and view engines that can be used for the view. A few examples are EJS(Embedded JavasScript), Vue.js, Handlebars, and React.Js, however, what makes Angular different is that is framework vs. a library (like React.js)</p>

    <p>As a framework there are pre-set rules that are predetermined by the builders of the framework.  In this case, google. There are benefits and negatives. The big benefit is structure but at the cost of freedom. Let’s dive into building your first Angular App!</p>

    <button class="btn btn-danger float-right" routerLink="/angular/angularcli">next</button>
  </div>
</div>