<header>
  <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light mb-3">
        <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['angular']">Angular</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['react']">React.Js</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link">Node</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" >Express</a>
          </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" >MongoDB</a>
      </li>
    </ul>
    </div>
  </nav>
</header>
