<div class="row m-3 p-3">
    <div class="col-md-3 mb-3">
      <app-react-menu></app-react-menu>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">Welcome to React.Js</h1>
      <p class="font-weight-bold">React Defined</p>
      <p>React is a JavaScript library for building user interfaces.</p>
      <p>React is a declarative, efficient, and flexible JavaScript library for building user interfaces. It lets you compose complex UIs from small and isolated pieces of code called “components”.</p>
      <button class="btn btn-success float-right">next</button>
    </div>
  
  </div>