<div class="row m-3 p-3" id="top">

  <!-- Start of Table of Conents Section -->
  <div class="col-lg-3 bg-light p-5 d-none d-sm-block">
    <nav class="nav flex-column navbar-nav">
        <h2>Table of Contents</h2>
      <ul>
        <a class="p-1 nav-link font-weight-bold" pageScroll href="#head">Angular Components</a>
        <a class="p-1 nav-link" pageScroll href="#components">Component Parts</a>
        <a class="p-1 nav-link" pageScroll href="#creating">Creating Components</a>
      </ul>
      <hr class="w-100 clearfix">
      <ul>
        <a class="p-1 nav-link" pageScroll href="#top">Top of page</a>
      </ul>
    </nav>
  </div>
<!-- End of Table of Contents Section -->

  <div class="col-md-8 m-4">
    <h1 class="text-center mb-3" id="head">Angular Components</h1>
    <h2>Introduction to Angular Components</h2>
    <p>Component are the basic UI building blocks for your application. Let’s take for example this view. How many
      components can you spot out? Well let’s see. There is top navigation bar, side angular module bar, main body
      component and the footer. As a whole, they make up the entire view that is displayed. </p>
    <p class="bold-text">Googles Definition</p>
    <blockquote class="mt-2">
      <p>"Components are the most basic UI building block of an Angular app. An Angular app contains a tree of Angular
        components.Angular components are a subset of directives, always associated with a template. Unlike other
        directives, only one component can be instantiated per an element in a template.</p>
    </blockquote>
  
    <div>
        <h2 id="components">Component Parts</h2>
        <p>As we covered, components are modularized blocks of code that make up your entire view. However, each
          component is made up of four files: Css, Html, Spect.ts, and a TS (Typescript) files. Each of the file plays
          and important role, however, for now lets just focus on the three main ones, Css, Html, and TS.</p>
        <p>The HTML is the basic mark up language, Css is the presentation layer, and the TS files is where your
          component interactivty will reside. Functions such as Logout, API request to your server, and connecting to
          services will be held here. We will dive into that later.</p>
      </div>

    <!-- <img src ="../../../assets/images/angular/components.png" class="img-fluid"> -->
    <h2 id="creating">Creating Components</h2>
    <a routerLink="/angular/angularcli" class="text-danger">ng generate component or ng g c "your_component_name"</a>

    <p>A component must belong to an NgModule in order for it to be available to another component or application. To
      make it a member of an NgModule, list it in the declarations field of the @NgModule metadata."</p>

    <a href="https://angular.io/api/core/Component">Reference</a>
    <!-- <button class="btn btn-danger float-right">next</button> -->
  </div>

</div>