<div class="row m-3 p-3">
    <div class="col-md-3 mb-3">
      <app-angular-menu></app-angular-menu>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">Angular Components</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sint natus rem, inventore, praesentium aperiam velit, nostrum laudantium optio cupiditate harum. Nihil perspiciatis temporibus delectus minus nostrum optio dolorem inventore!</p>
      <button class="btn btn-danger float-right">next</button>
    </div>
  
  </div>