<div class="container-fluid">
    <div class="card z-depth-1">
      <div class="card-header bg-success">
          <i class="fab fa-react mr-1 text-white"></i> <span class="text-white">React.JS Module</span>
      </div>
    <div class="list-group">
        <li  data-toggle="collapse" data-target="#Intro" class="collapsed active">
            <a class="list-group-item list-group-item-action waves-effect">Introduction to React <i class="fas fa-sort-down float-right"></i></a>
          </li>
          <ul class="collapse" id="Intro">
              <li><i class="fas fa-caret-right mr-3"></i><a href="/react">What is React?</a></li>
          </ul>
          <li  data-toggle="collapse" data-target="#CLI" class="collapsed active">
              <a class="list-group-item list-group-item-action waves-effect">Create React<i class="fas fa-sort-down float-right"></i></a>
            </li>
              <ul class="collapse" id="CLI">
                  <li><i class="fas fa-caret-right mr-3"></i><a href="/react/create-react-app">Create-React-App</a></li>
              </ul>
              <li  data-toggle="collapse" data-target="#commands" class="collapsed active">
                  <a class="list-group-item list-group-item-action">React Components<i class="fas fa-sort-down float-right"></i></a>
                </li>
              <ul class="collapse" id="commands">
                  <li><i class="fas fa-caret-right mr-3"></i><a href="#">Stateful Components</a></li>
                  <li><i class="fas fa-caret-right mr-3"></i><a href="#">Stateless Components</a></li>
              </ul>
              <li  data-toggle="collapse" data-target="#project1" class="collapsed active">
                  <a class="list-group-item list-group-item-action">First React Project<i class="fas fa-sort-down float-right"></i></a>
                </li>
              <ul class="collapse" id="project1">
                  <li><i class="fas fa-caret-right mr-3"></i><a href="#">First Project</a></li>
                  
              </ul>
              <li  data-toggle="collapse" data-target="#Redux" class="collapsed active">
                <a class="list-group-item list-group-item-action">Redux<i class="fas fa-sort-down float-right"></i></a>
              </li>
            <ul class="collapse" id="Redux">
                <li><i class="fas fa-caret-right mr-3"></i><a href="react/redux">What is Redux?</a></li>
                <li><i class="fas fa-caret-right mr-3"></i><a href="#">Redux Store</a></li>
                <li><i class="fas fa-caret-right mr-3"></i><a href="#">Actions & Reducers</a></li>
            </ul>
        </div>
      </div>
    </div>